{%- if site.footer_content -%}
<div style="position:relative; width: 100%; float: left;">
  <div style="position:relative; width: 22%; float: right; z-index:100" align="right">
    <a href="https://www.buymeacoffee.com/frogred8" style="background-size: 0px 0px;"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=frogred8&button_colour=FF5F5F&font_colour=ffffff&font_family=Comic&outline_colour=000000&coffee_colour=FFDD00" style="width: 100%; height: auto;"/></a>
  </div>
  <script src="https://utteranc.es/client.js"
        repo="frogred8/blog-comments"
        issue-term="pathname"
        theme="github-dark"
        crossorigin="anonymous"
        >
</script>
<!-- 
    <a href="#top" id="back-to-top">{{ site.back_to_top_text }}</a>
    <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p> -->
  </div>
  <br>
  <br>
  <br>
  <br>
{%- endif -%}